:root{
    /* Font */
    --font-large: 42px;
    --font-medium: 25px;

    /* border */
    --border-thickness : 0.5px;
}

body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

button{
    background: transparent;
    cursor: pointer;
    outline: none;
}
/* Navbar */
section#Home{
    background-image: url("imgs/home_background.png");
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.navbar__logo{
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.navbar__menu{
    list-style-type: none;
}

.navbar__menu__items{
    display: inline;
    margin: 0.6rem;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.navbar__menu__items.active{
    border : solid white 1px;
}

.navbar__menu__items:hover{
    background-color: #d88d4b;
}

/* homeContent */
.homeContent{
    text-align: center;
    padding: 2rem;
}

.home__img{
    border : var(--border-thickness) solid white;
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.home__title{
    color: white;
    font-size: var(--font-large);
}

.home__description{
    color: white;
    font-size : var(--font-medium);
}

.home__contact{
    border: solid white 1px;
    border-radius: 4px;
    padding: 8px;
    color: white;
    font-weight: bold;
}

/* About */

.section{
    text-align: center;
    max-width: 60%;
    margin: auto;
}

.about__title{
    font-size: var(--font-large);
    margin: 20px 0;
}

.about__description{
    font-size: var(--font-medium);
}

.about__majors{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.major__icon{
    font-size: 100px;
    color: lightblue;
    width: 150px;
    height: 150px;
    border : var(--border-thickness) solid lightblue;
    border-radius: 50%;
    line-height: 150px;
    margin: auto 100px;
}

.major__icon i:hover {
    color: lightpink;
    transform: rotate(30deg) scale(1.1);
    transition: all 300ms ease;
}

.about__career{
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.career__img{
    height: 50px;
}

.career__name, .career__period{
    font-size: 12px;
    margin: 4px 10px;
}
